<h1>Users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Role</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.role.humanize %></td>
    <td><%= link_to 'View Profile', user %></td>
  </tr>
<% end %>
</table>
