<% jsit 'jquery.ba-url.min', 'pagination' %>

<h1>Welcome to <%= System.find(:first, :conditions => "variable = 'sitename'").value || "A Train CMS" %></h1>
<div id="pagination">
<%= render 'posts' %>
</div>
